
div{
    border: 1px solid black;
    margin: 20px;
    padding: 10px;
    background-color: #e6c7c7;
    border-radius: 15px;
    box-shadow: 2px 2px 4px #e4e4e4;
}

#fotoCV{
    width: 10%;
    float: left;
    border-radius: 70%;
}

/*tarea --> agregar comentario*/
body{
    text-align: center;
    font-family: "Edu NSW ACT Cursive", cursive;
    background: linear-gradient(to right, #b56e6e, #64649e) ;
}

.titulo{
    text-shadow: 5px 5px #b8a1a1;
}

.pos-fix{
    position: fixed;
    top: 0;
}